@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* globals.css */
html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0;          /* Remove default margin */
  padding: 0;         /* Remove default padding */
  width: 100%;        /* Ensure the width is set to 100% */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

* {
  box-sizing: inherit; /* Inherit box-sizing for all elements */
}

/* Add to your CSS file */
.slick-prev,
.slick-next {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 50%; /* Rounded buttons */
    padding: 10px;
    transition: background-color 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darker on hover */
}