@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}
/* globals.css */
html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0;          /* Remove default margin */
  padding: 0;         /* Remove default padding */
  width: 100%;        /* Ensure the width is set to 100% */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

* {
  box-sizing: inherit; /* Inherit box-sizing for all elements */
}

/* Add to your CSS file */
.slick-prev,
.slick-next {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 50%; /* Rounded buttons */
    padding: 10px;
    transition: background-color 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darker on hover */
}

/* Example styles for the featured slider */
.slider-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 300px; /* Adjust height as needed */
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the caption */
  padding: 15px;
  max-width: 90%;
  width: auto;
}

.custom-arrow {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  color: white;
}

.slick-next,
.slick-prev {
  top: 50%;
  transform: translateY(-50%);
}
/* Slider Arrow Button Styles */
.slider-button {
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: white !important;
  border-radius: 50% !important;
}

.slider-button:focus {
  outline: none !important;
  box-shadow: none !important;
}
/* Add margin between paragraphs and headers */
.prose p {
  margin-bottom: 1rem; /* You can adjust this value */
}

.prose h1, .prose h2, .prose h3, .prose h4 {
  margin-bottom: 0.75rem; /* Space below headers */
}



